/**/node_modules
/**/.venv
/**/__pycache__
/**/.idea
/**/.vscode/*
/**/.claude
/**/.vite
/**/.score.*.ray
/@ether/v0.ts/score.current.json
/**/.ether
/**/.*.ts
/@ether/v0.ts/src/language.*.ts
/@ether/v0.ts/src/kernel.*/
/@ether/v0.ts/dist/
/@ether/v0.ts/@ether/
